<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- plugins:css -->
    <link rel="stylesheet" href="/src/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/src/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/src/assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="/src/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/src/assets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="/src/assets/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/src/assets/css/style.css">
    <title>Evaclue - Admin</title>
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.js"></script>
    <!-- plugins:js -->
    <script src="/src/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="/src/assets/js/misc.js"></script>

    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/src/assets/js/dashboard.js"></script>
    <script type="text/javascript" src="https://unpkg.com/default-passive-events"></script>
    <!-- End custom js for this page -->
  </body>
</html>
