system.config.js
system_prod.config.js
package-lock.json
emails.csv
node_modules
.DS_Store
*.swp
.env
*.log
.vscode

# ignore all log folders
**/logs

# ignore all user images unless default.gif
**/userImages/user-*.gif

# ignore all residence proof files
**/resProofFiles/userProofOfRes-*.pdf

# ignore all images
**/reviewImgs/
**/resImgs/
**/proofDocs/
